version: 2
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: nikengp/node8:v0.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-deps
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: /build-scripts/lib-run-tests.sh
      - run:
          name: build report
          command: /build-scripts/generate-test-report.sh
          when: always
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_artifacts:
          path: test-results
          prefix: test-results
      - store_test_results:
          path: test-results